<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Lotes</h3>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <form class="col-lg-6" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="Buscar" value=""
            formControlName="searchTerm" /><small class="form-text text-muted"><b>Buscar</b> en todos los campos</small>
        </form>
      </div>
    </div>
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Nro lote
            <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Fecha de creación
            <app-sort-icon column="created_date" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Estado
            <app-sort-icon column="current_state" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let sampleBatches of sampleBatchesService.items$ | async">
            <td>{{ sampleBatches.id}}</td>
            <td>{{ sampleBatches.created_date}}</td>
            <td>{{ sampleBatches.current_state}}</td>
            <td style="display: flex;">
              <a *ngIf ="sampleBatches.current_state == sampleBatchesState.STATE_ONE"  title="Procesar" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="edit(sampleBatches.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" title="Procesar"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>