<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container>
          <span>Modificar template</span>
        </ng-container>
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 200px" >
      <ng-container>
        <div [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
    </ng-container>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light btn-elevate mr-2"
        (click)="modal.dismiss()"
      >
        Cancelar
      </button>
      <ng-container >
        <button
          type="submit"(click)="save()" [disabled]="!(editorContent)" class="btn btn-primary btn-elevate" >
          Guardar
        </button>
      </ng-container>
    </div>
  </div>