<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container>
          <span>Registrar reporte</span>
        </ng-container>
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 200px" >
      <ng-container>
        <label class="form-label">Resultado</label>
        <select
                class="form-control form-control-lg form-control-solid"
                name="result"
                [(ngModel)]="result"> 
                <option value="positivo">Positivo</option>
                <option value="negativo">Negativo</option>  
        </select>
        <br>
        <div [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
    </ng-container>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light btn-elevate mr-2"
        (click)="modal.dismiss()"
      >
        Cancelar
      </button>
      <ng-container >
        <button
          type="submit"(click)="save()" [disabled]="!(result && editorContent)" class="btn btn-primary btn-elevate" >
          Guardar
        </button>
      </ng-container>
    </div>
  </div>