
<div style="position: relative" class="container container-detail-view">

	<ngx-ui-loader *ngIf="loaderConfig"
								 [hasProgressBar]="loaderConfig.hasProgressBar"
								 [loaderId]="loaderConfig.masterLoaderId"
								 [logoUrl]="loaderConfig.logoUrl"
								 [logoSize]="loaderConfig.logoSize"
								 [text]="loaderConfig.text"></ngx-ui-loader>

	<div class="card card-custom gutter-b">



		<div class="card-header">
			<div class="card-title">
				<h3 class="card-label">{{headerText}}</h3>
			</div>
			<div class="card-toolbar">
				<ng-container>
					<a *ngIf="customReturn" (click)="executeCustomReturn()" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Volver">
						<i class="fa fa-arrow-left"></i>
						Volver
					</a>
					<a *ngIf="!isPopup && !isModal && allowReturn" [routerLink]="['../']" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Volver">
						<i class="fa fa-arrow-left"></i>
						Volver
					</a>
					<a *ngIf="(isPopup || isModal) && allowReturn" (click)="onClose()" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Volver">
						<i class="fa fa-arrow-left"></i>
						Volver
					</a>
					<a *ngIf="allowSave" class="btn btn-primary mr-2" color="primary" (click)="onSave()" mat-raised-button matTooltip="Guardar">
						<i class="fa fa-save"></i>
						Guardar
					</a>
					<a *ngIf="allowCancel" (click)="onClose()" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Cancelar">
						<i class="fa fa-times"></i>
						Cancelar
					</a>

					<ng-container *ngTemplateOutlet="extraButtons ? extraButtons : defaultExtraButtons"></ng-container>

					<button *ngIf="allowSaveAndContinue || extraDropdownButtons" mat-icon-button [matMenuTriggerFor]="menu" color="primary">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item *ngIf="allowSaveAndContinue" (click)="onSaveAndContinue()" matTooltip="Guardar y Continuar">
							<mat-icon>save</mat-icon>
							<span>Guardar y Continuar</span>
						</button>

						<ng-container *ngTemplateOutlet="extraDropdownButtons ? extraDropdownButtons : defaultExtraDropdownButtons"></ng-container>
					</mat-menu>
				</ng-container>
			</div>
		</div>
		<div class="card-body ">
			<div *ngIf="detail">
				<ng-content></ng-content>
			</div>
			<div *ngIf="!detail">
				Tenes que pasarme el detail [detail]="detail"
			</div>
		</div>
	</div>


	<ng-template #defaultExtraButtons></ng-template>
	<ng-template #defaultExtraDropdownButtons></ng-template>
</div>
