<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container>
          <span *ngIf="!isUploaded">Registrar Pago</span>
          <span *ngIf="isUploaded">Registro de pago exitoso</span>
        </ng-container>
      </div>
    </div>
    <div 
      class="overlay overlay-block cursor-default modal-body" style="min-height: 200px" >
     <ng-container>
       <div *ngIf="!isUploaded">
        <h3>Comprobante de pago</h3>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" accept="application/pdf" id="pay-file"  (change)="onFileSelected($event)">
             <label class="custom-file-label" #labelUpload for="pay-file"><i class="fas fa-search"></i> Seleccione documento</label>
          </div>
        </div>
      </div> 
      <div *ngIf="isUploaded">
        <div class="alert alert-success" role="alert">
            <span> Se ha registrado exitosamente el comprobante de pago. Haga click <b><span style="cursor: pointer; " (click)="downloadConsent()">aquí</span></b> para descargar el consentimiento del estudio</span>
        </div>
      </div>
      <div *ngIf="isError">
        <div class="alert alert-danger" role="alert">
            <span> Ha ocurrido un error, por favor vuelva a intenar <b><span style="cursor: pointer; " (click)="downloadConsent()">aquí</span></b> para descargar el consentimiento del estudio</span>
        </div>
      </div>
      </ng-container>
    </div>
     <div class="modal-footer">
      <button class="btn btn-light btn-elevate mr-2" *ngIf="!isUploaded" (click)="upload()" type="button" ><i class="fas fa-file-import"></i> Registrar pago
      </button>
      <button type="button"class="btn btn-light btn-elevate mr-2"  (click)="modal.dismiss()" >
        <span *ngIf="!isUploaded">Cancelar</span>
        <span *ngIf="isUploaded">Cerrar</span>
      </button>
    </div>
  </div>