<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container>
          <span>Registro de muestra</span>
        </ng-container>
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 200px" >
      <ng-container>
          <div class="form-group row">
            <div class="col-lg-4">
              <input  type="text" class="form-control form-control-lg form-control-solid"
              name="ml_extracted"
              [(ngModel)]="ml_extracted"
              placeholder="Mililitros extríados"
              autocomplete="off"/>
            </div>
            <div class="col-lg-4">
              <input  type="text" class="form-control form-control-lg form-control-solid"
              name="freezer_number"
              [(ngModel)]="freezer_number"
              placeholder="Numero de frezzer"
              autocomplete="off"/>
            </div>
          </div>
    </ng-container>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light btn-elevate mr-2"
        (click)="modal.dismiss()"
      >
        Cancelar
      </button>
      <ng-container >
        <button
          type="submit"(click)="save()" [disabled]="!(freezer_number && ml_extracted) " class="btn btn-primary btn-elevate" >
          Guardar
        </button>
      </ng-container>
    </div>
  </div>