<label class="form-label">{{placeholder}}</label>
<div class="input-group input-group-solid">
  <input type="text" name="{{name}}" class="form-control form-control-lg form-control-solid" autocomplete="off"
    placeholder="{{placeholder}}" ngbDatepicker #d="ngbDatepicker" [class.is-invalid]="isControlInvalid(name)"
    [class.is-valid]="isControlValid(name)" formControlName="{{name}}" readonly="true" />
  <div class="input-group-append" (click)="d.toggle()">
    <span class="input-group-text">
      <i class="text-dark-50 flaticon-calendar"></i>
    </span>
  </div>


<div class="valid-feedback" *ngIf="valid && isControlValid(name)">
  {{validationErrors.getValidText(placeholder)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="required && controlHasError('required', name)"
>
  {{validationErrors.getRequiredText(placeholder)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="requiredFem && controlHasError('required', name)"
>
  {{validationErrors.getRequiredTextWithLa(placeholder)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="minlength && controlHasError('minlength', name)"
>
  {{validationErrors.getMinlengthText(placeholder, 3)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="maxLength && controlHasError('maxLength', name)"
>
  {{validationErrors.getMaxlengthText(placeholder, 50)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="email && controlHasError('email', name)"
>
  {{validationErrors.getEmailText(placeholder)}}
</div>
</div>