<label class="form-label">{{placeholder}}</label>
<input
  type="{{type}}"
  class="form-control form-control-lg form-control-solid is-invalid"
  name="{{name}}"
  placeholder="{{placeholder}}"
  autocomplete="off"
  [class.is-invalid]="isControlInvalid(name)"
  [class.is-valid]="isControlValid(name)"
  formControlName="{{name}}"
/>
<div class="valid-feedback" *ngIf="valid && isControlValid(name)">
  {{validationErrors.getValidText(placeholder)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="required && controlHasError('required', name)"
>
  {{validationErrors.getRequiredText(placeholder)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="minlength && controlHasError('minlength', name)"
>
  {{validationErrors.getMinlengthText(placeholder, validationMinlength)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="maxLength && controlHasError('maxlength', name)"
>
  {{validationErrors.getMaxlengthText(placeholder, validationMaxLength)}}
</div>
<div
  class="invalid-feedback"
  *ngIf="email && controlHasError('email', name)"
>
  {{validationErrors.getEmailText(placeholder)}}
</div>
