<h2 style="text-align: center;"><b>Presupuesto médico</b></h2>
<div><br></div>
<div>
    <ul>
        <li><u>Fecha de inicio:</u> {created_date}</li>
        <li><u>Paciente:</u> {patient_first_name} {patient_last_name}. dni: {patient_dni}</li>
        <li><u>Médico derivante:</u> {physician_first_name} {physician_last_name}. matricula: {physician_license}</li>
        <li><u>Tipo de estudio a realizarse:</u> {type_study}</li>
        <li><u>Diagnóstico presuntivo:</u> {presumptive_diagnosis}</li>
        <li><u>Valor presupuestado del estudio:</u> ${budget}</li>
    </ul>
</div>