<h2 style="text-align: center;"><b>Informe médico</b></h2>
<div><br></div>
<div>
    <ul>
        <li><u>Fecha de reporte:</u> {date_report}</li>
        <li><u>Paciente:</u> {patient_first_name} {patient_last_name}.
            dni: {patient_dni}</li>
        <li><u>Médico informante:</u> {physician_first_name} {physician_last_name}. matricula: {physician_license}</li>
    </ul>
</div>
<div>
    <ul>
        <li><u>Informe:</u></li>
    </ul>
</div>
<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">
    <div>{report}
    </div>
</blockquote>
<div><br></div>
<div>
    <ul>
        <li><u>Resultado:</u> {result}</li>
    </ul>
</div>