<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="study">
        <ng-container *ngIf="study.id">Editar</ng-container>
        <ng-container *ngIf="!study.id">Crear</ng-container>
        Estudio
        <ng-container *ngIf="study.id"
          ></ng-container
        >
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 200px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="study">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        
        <div class="form-group row">
          <div class="col-lg-4">
            <app-select-form [disabled]="study.id && study.current_state !== studyState.STATE_ONE" [items]="itemsTypeStudy" [selectedItem]="getSelectedItem(itemsTypeStudy,study.type_study_id)" [name]="'type_study'" [placeholder]="'Tipo de estudio'" [formGroup]="formGroup">
            </app-select-form>
          </div>
          <div class="col-lg-4">
            <app-select-form [items]="itemsPatients" [selectedItem]="getSelectedItem(itemsPatients,study.patient_id)" [name]="'patient'" [placeholder]="'Paciente'" [formGroup]="formGroup">
            </app-select-form>
          </div>
          <div class="col-lg-4">
            <app-select-form [items]="itemsReferringPhysician" [selectedItem]="getSelectedItem(itemsReferringPhysician,study.referring_physician_id)" [name]="'referring_physician'" [placeholder]="'Médico derivante'" [formGroup]="formGroup">
            </app-select-form>
          </div>
        </div>
        <div class="form-group row">  
          <div class="col-lg-4">
            <app-select-form [items]="itemsDiagnosis" [selectedItem]="getSelectedItem(itemsDiagnosis,study.presumptive_diagnosis_id)" [name]="'presumptive_diagnosis'" [placeholder]="'Diagnostico presuntivo'" [formGroup]="formGroup">
            </app-select-form>
          </div>
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Presupuesto'" [name]="'budget'" [type]="'text'" [minlength]="true" [maxLength]="true" [validationMinlength]="2" [validationMaxLength]="9"></app-input-form>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancelar
    </button>
    <ng-container *ngIf="study">
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="save()"
        [disabled]="formGroup.invalid"
      >
        Guardar
      </button>
    </ng-container>
  </div>
</div>
