<div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <ng-container>
          <span>Registro de resultado de lote N°:{{batched_number}}</span>
        </ng-container>
      </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 200px" >
      <ng-container>
          <div class="form-group row">
            <div class="col-lg-6">
              <input  type="text" class="form-control form-control-lg form-control-solid"
              name="url"
              [(ngModel)]="url"
              placeholder="URL con los resultados"
              autocomplete="off"/>
            </div>
          </div>
    </ng-container>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light btn-elevate mr-2"
        (click)="modal.dismiss()"
      >
        Cancelar
      </button>
      <ng-container >
        <button
          type="submit"(click)="process()" [disabled]="!(url)" class="btn btn-primary btn-elevate" >
          Guardar
        </button>
      </ng-container>
    </div>
  </div>