<mat-form-field style="width: 100%" [ngClass]="{'form-control form-control-combobase': notUseFormFieldControl}">
	<mat-select #combobox [disabled]="IsDisabled || isLoading" [(ngModel)]="value" placeholder="{{placeholder}}" (selectionChange)="selectedItemChange.emit($event)" [ngClass]="{'mat-form-field mat-form-field-fluid': !notUseFormFieldControl}" [required]="isRequired || control?.errors?.required" (focusin)="onFocus()" (openedChange)="searchOnOpen()" [errorStateMatcher]="errorStateMatcher">
		<mat-option>
			<ngx-mat-select-search [formControl]="searchFilterCtrl" [placeholderLabel]="placeholder" noEntriesFoundLabel="No se encontraron resultados"></ngx-mat-select-search>
		</mat-option>
		<!--<mat-option *ngIf="allowNullable==true" [value]="">{{emptyText}}</mat-option>-->
		<!--<mat-option *ngFor="let item of items" [value]="item.Id">{{item.Description}}</mat-option>-->
		<mat-option *ngFor="let item of Items | async" [value]="item.Id">
			{{item.Description}}
		</mat-option>
	</mat-select>
	<mat-error *ngIf="control?.errors?.required && control.touched">El campo {{placeholder}} es <strong>requerido</strong></mat-error>
	<mat-spinner class="spinner spinner-combo" [diameter]="18" [hidden]="!isLoading"></mat-spinner>

</mat-form-field>
