<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="patient">
        <ng-container *ngIf="patient.id">Editar</ng-container>
        <ng-container *ngIf="!patient.id">Crear</ng-container>
        Paciente
        <ng-container *ngIf="patient.id"
          >'{{ patient.first_name }} {{ patient.last_name }}'</ng-container
        >
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="patient">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Nombre'" [name]="'first_name'" [minlength]="true" [maxLength]="true" [validationMinlength]="3" [validationMaxLength]="50"></app-input-form>
          </div>
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Apellido'" [name]="'last_name'" [minlength]="true" [maxLength]="true" [validationMinlength]="3" [validationMaxLength]="50"></app-input-form>
          </div>
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Nombre de usuario'" [name]="'username'" [minlength]="true" [maxLength]="true" [validationMinlength]="3" [validationMaxLength]="50"></app-input-form>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Email'" [name]="'email'" [type]="'email'" [email]="true"></app-input-form>
          </div>
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'DNI'" [name]="'dni'" [type]="'text'" [minlength]="true" [maxLength]="true" [validationMinlength]="7" [validationMaxLength]="10"></app-input-form>
          </div>
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Historia Clínica'" [name]="'clinical_history'" [type]="'text'" [maxLength]="true" [validationMaxLength]="255"></app-input-form>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <app-date-picker-form [formGroup]="formGroup" [placeholder]="'Fecha de nacimiento'" [name]="'birth_date'" [required]="false" [requiredFem]="true"></app-date-picker-form>
          </div>
          <div class="col-lg-4">
            <app-input-form [formGroup]="formGroup" [placeholder]="'Obra social'" [name]="'health_insurance_number'" [required]="false"></app-input-form>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancelar
    </button>
    <ng-container *ngIf="patient">
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="save()"
        [disabled]="formGroup.invalid"
      >
        Guardar
      </button>
    </ng-container>
  </div>
</div>
